
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
}

#usernameContainer:focus-within,
#passwordContainer:focus-within {
    border-color: #007bff;
    outline: none;
}

#passwordContainer {
    position: relative;
}

#submit {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit:hover {
    background: #0056b3;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
#eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
}

#eye:hover {
    color: #0056b3;
}